.Body {
  text-align: center;
  z-index: 50;
}

.Loading_screen_header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Loading_screen_init {
  background-color: #282c34;
  color: white;
}

.Loading_screen_fin {
  background-color: transparent;
  color: transparent;
  animation: loading_fin 3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes loading_fin {
  0% {
    background-color: #282c34;
    color: white;
  }
  100% {
    background-color: white;
    color: transparent;
  }
}

.Header {
  font-weight: bold;
  margin: 3vmin;
  padding-right: 2vmin;
}

.lds_ring {
  display: inline-block;
  position: relative;
  width: calc(80px + 2vmin);
  height: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .lds_ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds_ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds_ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds_ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
