.Pinheader {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: stretch;
  background: linear-gradient(#181a1f 90%, #181a1f00 100%);
}

.Pinheader_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 2;
}

.Ontop {
  position: sticky;
  background-color: transparent;
  transition: background-color 800ms ease-in-out;
}

.Not_Ontop {
  position: fixed;
  background-color: black;
  transition: background-color 1200ms ease-in-out;
}

.Pinheader_container h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  background: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*background: -webkit-linear-gradient(45deg, #e0ff70 10%, #70ffc3 40%,  #6ab2ff 90%);*/

.Navigator {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.Navigator li {
  margin-left: 10px;
  padding: 0px;
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
}

@media screen and (min-width: 1330px) {
  .Navigator li {
    margin-left: 24px;
  }
}

a {
  color: rgba(255, 255, 255, 0.80);
  text-decoration: none;
}